/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* 조건 중에 class속성이 부여된 경우에만 마진 제거 */
[class] {
  margin: 0;
}

a {
  /* 부모로부터 상속받은 컬러 사용한다는거 .menu {color: green}하면 */
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 => 여기에 적용시켜놨기 때문에 따로 안지정해놔도 됐던 것 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

/* .menu a{
  color:green;
부모한테서 받은 컬러를 inherit
} */

/* .menu {
  color:green;

} */