/* index.css */
/* @들어가는 건 at rules*/
/* import 통해 하나로 merge */
@import url("./normalize.css");
@import url("./base.css");
@import url("./theme.css");
/* @import url("./style.css"); */

/* *를 통해 리셋하는 건 좋지 못함 */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* 컨테이너 마크업 */
.container {
    min-width: 16.25rem;
    /* min-width: 260/16;. 더 줄어드는 걸 막음 */

}

/* 이걸 sr-only로 빼서 클래스로 주는게 좋음 */
/* legend */
/* 숨김 컨텐츠 */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    /* 아래처럼 하게되면 이슈발생 */
    /* top: 9999px;
    left: -11111px; */
}

/* 웹카페 반응형 스타일 */
/* 공통 스타일 */
body {
    font-size: var(--text-sm);
  }
  
  /* 공통 아이콘 */
  .far {
    margin-right: var(--spacing-xs);
  }
  
  /* 공통 헤더 */
  .appHeader {
    position: relative;
    padding: var(--spacing-base) var(--spacing-lg);
  }
  
  /* 공통 로고 */
  .logo {
    width: 12.75rem; /* 204px */
    height: 3.75rem; /* 60px */
  }
  
  .logo__link {
    display: block;
    width: 100%;
    height: 100%;
    background: url(./../images/webcafe-logo.png) no-repeat 0 0 / 100%;
  }
  
  /* 공통 멤버서비스 */
  .memberOnly {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
  
  /* 공통 검색 폼 */
  
  input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  .button--none {
    border: 0;
    padding: 0;
    background: transparent;
  }
  
  .button {
    cursor: pointer;
    border: 0;
    border-radius: 0.25rem;
    height: 2rem;
    padding: 0.125rem 0.75rem;
    background: transparent;
  }
  
  .button--fillSecondary {
    color: var(--white);
    background: var(--secondary-color);
  }
  
  .button--outlineSecondary {
    color: var(--secondary-color);
    border: 1px solid currentColor;
  }
  
  .formInput__input {
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    height: 2rem;
    padding: 0.125rem 0.75rem;
    width: 100%;
  }
  
  .searchForm__group {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--spacing-xs);
  }

  /* 모바일 디바이스 */
@media (min-width: 320px) and (max-width: 767px) {
    /* 모바일 헤더 */
    .appHeader {
      background: var(--primary-color);
      display: flex;
      flex-flow: column nowrap;
      gap: var(--spacing-sm);
    }
  
    /* 모바일 멤버서비스 */
    .memberOnly {
      color: var(--white);
      order: -1;
    }
    /* 모바일 검색폼 */
    .searchForm__group .formInput {
      flex-grow: 1;
    }
  }

  /* 데스크탑 */
  @media(min-width: 768px){
    .appHeader{
        background-color: yellow;
        display: grid;
        /* 2행 2열 */

        grid-template-columns: 1fr 2fr; /*1/3, 2/3*/
        /* grid-template-columns: 50% 50%; */
        grid-template-rows: 50px 50px; 
        /*높이를 고정시키지 않았기 떄문에 컨텐츠 크기만큼만 넓어짐*/
        /* "" 이거 하나가 1행임, 열과 열사이는 스페이스로 구분 */
        /* logo이름을 가진 클래스가 두 개 행에 걸쳐 나타나는거 */
        grid-template-areas: 
        "logo member"
        "logo search";
    }
    /* 시작과 끝나는 지점의 라인이름을 써줘야 함 */
    .logo{
        /* 방법1 */
        /* grid-row-start:1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2; */

        /* 방법2 */
        /*1에서 시작해서 3에서 끝남*/
        /* grid-row: 1/3;  */
        /*1에서 시작해서 2에서 끝남*/
        /* grid-column: 1/2;  */

        /* 방법3 */
        /*row-start/column-start/row-end/column-end*/

        /* grid-area: 1/1/3/2;  */
        grid-area: logo;
        align-self: center;
        justify-self: center;
    }

    .memberOnly{
        grid-area: member;
    }
    .searchForm{
        grid-area: search;
        /* 인라인 축은 justify */
        justify-self: end ;
        align-self: end;
    }
    /*  grid-area: 이름; 이름 알려주고 어디 위치에 있는지 알려줘야 함 */
  }

  